<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Dashboard</title>
</head>
<body>
    <section id="navBar">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid d-flex justify-content-between align-items-center">
                  <p class="navbar-brand ms-1 mt-2 d-inline-block ">Lucre &#8208; Cash</p>
                  <p class="text-muted fs-5 fw-semibold">Budget for your best life</p>
                    <button class="btn btn-sm btn-outline-primary me-1" type="button">Logout</button> 
                </div>          
              </nav>
    </section>
    
    
</body>
</html>