<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Dashboard</title>
</head>
<body>
    <section id="navBar">
            <nav class="navbar bg-body-tertiary" style="height: 60px;">
                <div class="container-fluid d-flex justify-content-between align-items-center">
                  <p class="navbar-brand ms-1 mt-2 d-inline-block ">Lucre &#8208; Cash</p>
                  <p class="text-muted fs-5 fw-semibold">Budget for your best life</p>
                    <button class="btn btn-sm btn-outline-primary me-1 mb-3" type="button">Logout</button> 
                </div>          
              </nav>
    </section>
    <!-- End of Navbar Section -->

    <!-- Profile Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="justify-content-center align-items-center">
                    <div class="col-md-6 border bg-body-tertiary my-4" style="height: 600px;">
                        <div id="userProfile" class="border m-3 rounded-2" style="height: 150px; width: 520px;"></div>
                        <div class="border m-3 rounded-2" style="height:390px; width: 520px;"></div>




                    </div>
                </div>
            </div>
        </div>

    </section>
    
    
</body>
</html>


<!-- NavBar Colors -->
<!-- bg-body-tertiary -->
<!-- bg-primary  --> 