<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Home</title>
</head>

<body>
    <section class="bg-dark">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-5 my-5">
                    <div class="bg-light border border-info-subtle border-2 rounded-3 " style="height: 600px;">
                        <h2>hello</h2>
                    </div>
                    
                </div>
                
            </div>

        </div>

        <!-- <h2>Lorem ipsum dolor sit amet consectetur.</h2> -->
        <!-- bg-secondary-subtle -->
        <!-- bg-opacity-10 -->
        

    </section>
</body>

</html>