<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <title>Home</title>
</head>

<body>
    <div class="row">
        <div class="col">
            <div class="d-sm-flex p-2 bd-highlight">
                <h3>Lucre</h3>
                <p>TRACK YOUR MONEY</p>
                <button>Login</button>
                <button>Sign up</button>
            </div>
            
        </div>
        
    </div>
    <p>This an image here</p>



    <!-- <div class="row">
            <div class="img">
                <p>There is an image here</p>
            </div>
            
        </div> -->

    </div>


    <script src="../public/js/bootstrap.bundle.min.js"></script>
</body>

</html>

<!-- <div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>Lucre</h3>
                    <p>TRACK YOUR MONEY</p>
                    <button>Login</button><br>
                    <button>Sign up</button>
                </div>
              </div>              
        </div>
    </div> -->