* {
    margin: 0;
    padding: 0;
}
/* .intro-section {
    background: linear-gradient(rgba(153, 221, 255, 0.8),rgba(0, 69, 139, 0.5)), url("../img/img1.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    
} */



/* (rgba(63,210,199,0.6) */
/* display: flex;
    justify-content: center;